@-ms-viewport {
    width: device-width;
}

.CSPvNext html {
    overflow-y: auto
}

.CSPvNext .row-fluid {
    width: 100%;
}

    .CSPvNext .row-fluid:before, .CSPvNext .row-fluid:after {
        display: table;
        line-height: 0;
        content: ""
    }

    .CSPvNext .row-fluid:after {
        clear: both
    }

    .CSPvNext .row-fluid .span {
        display: block;
        float: left;
        width: 100%;
        margin-left: 2%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .CSPvNext .row-fluid > .span:first-child {
        margin-left: 0
    }

    .CSPvNext .row-fluid > .bp3-clear, .CSPvNext .row-fluid > .bp3-col-1-1 {
        margin-left: 0
    }

    .CSPvNext .row-fluid > .bp3-col-1, .CSPvNext .row-fluid > .bp3-col-1-1, .CSPvNext .row-fluid > .bp3-col-2-2, .CSPvNext .row-fluid > .bp3-col-3-3, .CSPvNext .row-fluid > .bp3-col-4-4, .CSPvNext .row-fluid > .bp3-col-5-5, .CSPvNext .row-fluid > .bp3-col-6-6, .CSPvNext .row-fluid > .bp3-col-7-7, .CSPvNext .row-fluid > .bp3-col-8-8, .CSPvNext .row-fluid > .bp3-col-9-9, .CSPvNext .row-fluid > .bp3-col-10-10, .CSPvNext .row-fluid > .bp3-col-11-11, .CSPvNext .row-fluid > .bp3-col-12-12 {
        width: 100%
    }

    .CSPvNext .row-fluid > .bp3-col-2, .CSPvNext .row-fluid > .bp3-col-2-1, .CSPvNext .row-fluid > .bp3-col-4-2, .CSPvNext .row-fluid > .bp3-col-6-3, .CSPvNext .row-fluid > .bp3-col-8-4, .CSPvNext .row-fluid > .bp3-col-10-5, .CSPvNext .row-fluid > .bp3-col-12-6 {
        width: 49%;
    }

    .CSPvNext .row-fluid > .bp3-col-3, .CSPvNext .row-fluid > .bp3-col-3-1, .CSPvNext .row-fluid > .bp3-col-6-2, .CSPvNext .row-fluid > .bp3-col-9-3, .CSPvNext .row-fluid > .bp3-col-12-4 {
        width: 32%;
    }

    .CSPvNext .row-fluid > .bp3-col-3-2, .CSPvNext .row-fluid > .bp3-col-6-4, .CSPvNext .row-fluid > .bp3-col-9-6, .CSPvNext .row-fluid > .bp3-col-12-8 {
        width: 66%;
    }

    .CSPvNext .row-fluid > .bp3-col-4, .CSPvNext .row-fluid > .bp3-col-4-1, .CSPvNext .row-fluid > .bp3-col-8-2, .CSPvNext .row-fluid > .bp3-col-12-3 {
        width: 23.5%;
    }

    .CSPvNext .row-fluid > .bp3-col-4-3, .CSPvNext .row-fluid > .bp3-col-8-6 {
        width: 74.5%;
    }

    .CSPvNext .row-fluid > .bp3-col-5, .CSPvNext .row-fluid > .bp3-col-5-1, .CSPvNext .row-fluid > .bp3-col-10-2 {
        width: 18.4%;
    }

    .CSPvNext .row-fluid > .bp3-col-5-2 {
        width: 38.8%;
    }

    .CSPvNext .row-fluid > .bp3-col-5-3 {
        width: 59.2%;
    }

    .CSPvNext .row-fluid > .bp3-col-5-4 {
        width: 79.6%;
    }

    .CSPvNext .row-fluid > .bp3-col-6, .CSPvNext .row-fluid > .bp3-col-6-1, .CSPvNext .row-fluid > .bp3-col-12-2 {
        width: 15%;
    }

    .CSPvNext .row-fluid > .bp3-col-6-5 {
        width: 83%;
    }

    .CSPvNext .row-fluid > .bp3-col-7, .CSPvNext .row-fluid > .bp3-col-7-1 {
        width: 12.57143%;
    }

    .CSPvNext .row-fluid > .bp3-col-7-2 {
        width: 27.14286%;
    }

    .CSPvNext .row-fluid > .bp3-col-7-3 {
        width: 41.71429%;
    }

    .CSPvNext .row-fluid > .bp3-col-7-4 {
        width: 56.28571%;
    }

    .CSPvNext .row-fluid > .bp3-col-7-5 {
        width: 70.85714%;
    }

    .CSPvNext .row-fluid > .bp3-col-7-6 {
        width: 85.42857%;
    }

    .CSPvNext .row-fluid > .bp3-col-8, .CSPvNext .row-fluid > .bp3-col-8-1 {
        width: 10.75%;
    }

    .CSPvNext .row-fluid > .bp3-col-8-3 {
        width: 36.25%;
    }

    .CSPvNext .row-fluid > .bp3-col-8-5 {
        width: 61.75%;
    }

    .CSPvNext .row-fluid > .bp3-col-8-7 {
        width: 87.25%;
    }

    .CSPvNext .row-fluid > .bp3-col-9, .CSPvNext .row-fluid > .bp3-col-9-1 {
        width: 9.33333%;
    }

    .CSPvNext .row-fluid > .bp3-col-9-2 {
        width: 20.66667%;
    }

    .CSPvNext .row-fluid > .bp3-col-9-4 {
        width: 43.33333%;
    }

    .CSPvNext .row-fluid > .bp3-col-9-5 {
        width: 54.66667%;
    }

    .CSPvNext .row-fluid > .bp3-col-9-7 {
        width: 77.33333%;
    }

    .CSPvNext .row-fluid > .bp3-col-9-8 {
        width: 88.66667%;
    }

    .CSPvNext .row-fluid > .bp3-col-10, .CSPvNext .row-fluid > .bp3-col-10-1 {
        width: 8.2%;
    }

    .CSPvNext .row-fluid > .bp3-col-10-3 {
        width: 28.6%;
    }

    .CSPvNext .row-fluid > .bp3-col-10-4 {
        width: 38.8%;
    }

    .CSPvNext .row-fluid > .bp3-col-10-6 {
        width: 59.2%;
    }

    .CSPvNext .row-fluid > .bp3-col-10-7 {
        width: 69.4%;
    }

    .CSPvNext .row-fluid > .bp3-col-10-8 {
        width: 79.6%;
    }

    .CSPvNext .row-fluid > .bp3-col-10-9 {
        width: 89.8%;
    }

    .CSPvNext .row-fluid > .bp3-col-11, .CSPvNext .row-fluid > .bp3-col-11-1 {
        width: 7.27273%;
    }

    .CSPvNext .row-fluid > .bp3-col-11-2 {
        width: 16.54545%;
    }

    .CSPvNext .row-fluid > .bp3-col-11-3 {
        width: 25.81818%;
    }

    .CSPvNext .row-fluid > .bp3-col-11-4 {
        width: 35.09091%;
    }

    .CSPvNext .row-fluid > .bp3-col-11-5 {
        width: 44.36364%;
    }

    .CSPvNext .row-fluid > .bp3-col-11-6 {
        width: 53.63636%;
    }

    .CSPvNext .row-fluid > .bp3-col-11-7 {
        width: 62.90909%;
    }

    .CSPvNext .row-fluid > .bp3-col-11-8 {
        width: 72.18182%;
    }

    .CSPvNext .row-fluid > .bp3-col-11-9 {
        width: 81.45455%;
    }

    .CSPvNext .row-fluid > .bp3-col-11-10 {
        width: 90.72727%;
    }

    .CSPvNext .row-fluid > .bp3-col-12, .CSPvNext .row-fluid > .bp3-col-12-1 {
        width: 6.5%;
    }

    .CSPvNext .row-fluid > .bp3-col-12-5 {
        width: 40.5%;
    }

    .CSPvNext .row-fluid > .bp3-col-12-7 {
        width: 57.5%;
    }

    .CSPvNext .row-fluid > .bp3-col-12-9 {
        width: 74.5%;
    }

    .CSPvNext .row-fluid > .bp3-col-12-10 {
        width: 83%;
    }

    .CSPvNext .row-fluid > .bp3-col-12-11 {
        width: 91.5%;
    }

@media screen and (max-width:539px) {
    .CSPvNext .row-fluid > .span {
        width: 100%;
        margin-left: 0
    }

    .CSPvNext .row-fluid .bp0-clear {
        clear: both
    }

    .CSPvNext .row-fluid > .bp0-clear, .CSPvNext .row-fluid > .bp0-col-1-1 {
        margin-left: 0
    }

    .CSPvNext .row-fluid > .bp0-col-1, .CSPvNext .row-fluid > .bp0-col-1-1, .CSPvNext .row-fluid > .bp0-col-2-2, .CSPvNext .row-fluid > .bp0-col-3-3, .CSPvNext .row-fluid > .bp0-col-4-4, .CSPvNext .row-fluid > .bp0-col-5-5, .CSPvNext .row-fluid > .bp0-col-6-6, .CSPvNext .row-fluid > .bp0-col-7-7, .CSPvNext .row-fluid > .bp0-col-8-8, .CSPvNext .row-fluid > .bp0-col-9-9, .CSPvNext .row-fluid > .bp0-col-10-10, .CSPvNext .row-fluid > .bp0-col-11-11, .CSPvNext .row-fluid > .bp0-col-12-12 {
        width: 100%
    }

    .CSPvNext .row-fluid > .bp0-col-2, .CSPvNext .row-fluid > .bp0-col-2-1, .CSPvNext .row-fluid > .bp0-col-4-2, .CSPvNext .row-fluid > .bp0-col-6-3, .CSPvNext .row-fluid > .bp0-col-8-4, .CSPvNext .row-fluid > .bp0-col-10-5, .CSPvNext .row-fluid > .bp0-col-12-6 {
        width: 49%
    }

    .CSPvNext .row-fluid > .bp0-col-3, .CSPvNext .row-fluid > .bp0-col-3-1, .CSPvNext .row-fluid > .bp0-col-6-2, .CSPvNext .row-fluid > .bp0-col-9-3, .CSPvNext .row-fluid > .bp0-col-12-4 {
        width: 32%
    }

    .CSPvNext .row-fluid > .bp0-col-3-2, .CSPvNext .row-fluid > .bp0-col-6-4, .CSPvNext .row-fluid > .bp0-col-9-6, .CSPvNext .row-fluid > .bp0-col-12-8 {
        width: 66%
    }

    .CSPvNext .row-fluid > .bp0-col-4, .CSPvNext .row-fluid > .bp0-col-4-1, .CSPvNext .row-fluid > .bp0-col-8-2, .CSPvNext .row-fluid > .bp0-col-12-3 {
        width: 23.5%
    }

    .CSPvNext .row-fluid > .bp0-col-4-3, .CSPvNext .row-fluid > .bp0-col-8-6 {
        width: 74.5%
    }

    .CSPvNext .row-fluid > .bp0-col-5, .CSPvNext .row-fluid > .bp0-col-5-1, .CSPvNext .row-fluid > .bp0-col-10-2 {
        width: 18.4%
    }

    .CSPvNext .row-fluid > .bp0-col-5-2 {
        width: 38.8%
    }

    .CSPvNext .row-fluid > .bp0-col-5-3 {
        width: 59.2%
    }

    .CSPvNext .row-fluid > .bp0-col-5-4 {
        width: 79.6%
    }

    .CSPvNext .row-fluid > .bp0-col-6, .CSPvNext .row-fluid > .bp0-col-6-1, .CSPvNext .row-fluid > .bp0-col-12-2 {
        width: 15%
    }

    .CSPvNext .row-fluid > .bp0-col-6-5 {
        width: 83%
    }

    .CSPvNext .row-fluid > .bp0-col-7, .CSPvNext .row-fluid > .bp0-col-7-1 {
        width: 12.57143%
    }

    .CSPvNext .row-fluid > .bp0-col-7-2 {
        width: 27.14286%
    }

    .CSPvNext .row-fluid > .bp0-col-7-3 {
        width: 41.71429%
    }

    .CSPvNext .row-fluid > .bp0-col-7-4 {
        width: 56.28571%
    }

    .CSPvNext .row-fluid > .bp0-col-7-5 {
        width: 70.85714%
    }

    .CSPvNext .row-fluid > .bp0-col-7-6 {
        width: 85.42857%
    }

    .CSPvNext .row-fluid > .bp0-col-8, .CSPvNext .row-fluid > .bp0-col-8-1 {
        width: 10.75%
    }

    .CSPvNext .row-fluid > .bp0-col-8-3 {
        width: 36.25%
    }

    .CSPvNext .row-fluid > .bp0-col-8-5 {
        width: 61.75%
    }

    .CSPvNext .row-fluid > .bp0-col-8-7 {
        width: 87.25%
    }

    .CSPvNext .row-fluid > .bp0-col-9, .CSPvNext .row-fluid > .bp0-col-9-1 {
        width: 9.33333%
    }

    .CSPvNext .row-fluid > .bp0-col-9-2 {
        width: 20.66667%
    }

    .CSPvNext .row-fluid > .bp0-col-9-4 {
        width: 43.33333%
    }

    .CSPvNext .row-fluid > .bp0-col-9-5 {
        width: 54.66667%
    }

    .CSPvNext .row-fluid > .bp0-col-9-7 {
        width: 77.33333%
    }

    .CSPvNext .row-fluid > .bp0-col-9-8 {
        width: 88.66667%
    }

    .CSPvNext .row-fluid > .bp0-col-10, .CSPvNext .row-fluid > .bp0-col-10-1 {
        width: 8.2%
    }

    .CSPvNext .row-fluid > .bp0-col-10-3 {
        width: 28.6%
    }

    .CSPvNext .row-fluid > .bp0-col-10-4 {
        width: 38.8%
    }

    .CSPvNext .row-fluid > .bp0-col-10-6 {
        width: 59.2%
    }

    .CSPvNext .row-fluid > .bp0-col-10-7 {
        width: 69.4%
    }

    .CSPvNext .row-fluid > .bp0-col-10-8 {
        width: 79.6%
    }

    .CSPvNext .row-fluid > .bp0-col-10-9 {
        width: 89.8%
    }

    .CSPvNext .row-fluid > .bp0-col-11, .CSPvNext .row-fluid > .bp0-col-11-1 {
        width: 7.27273%
    }

    .CSPvNext .row-fluid > .bp0-col-11-2 {
        width: 16.54545%
    }

    .CSPvNext .row-fluid > .bp0-col-11-3 {
        width: 25.81818%
    }

    .CSPvNext .row-fluid > .bp0-col-11-4 {
        width: 35.09091%
    }

    .CSPvNext .row-fluid > .bp0-col-11-5 {
        width: 44.36364%
    }

    .CSPvNext .row-fluid > .bp0-col-11-6 {
        width: 53.63636%
    }

    .CSPvNext .row-fluid > .bp0-col-11-7 {
        width: 62.90909%
    }

    .CSPvNext .row-fluid > .bp0-col-11-8 {
        width: 72.18182%
    }

    .CSPvNext .row-fluid > .bp0-col-11-9 {
        width: 81.45455%
    }

    .CSPvNext .row-fluid > .bp0-col-11-10 {
        width: 90.72727%
    }

    .CSPvNext .row-fluid > .bp0-col-12, .CSPvNext .row-fluid > .bp0-col-12-1 {
        width: 6.5%
    }

    .CSPvNext .row-fluid > .bp0-col-12-5 {
        width: 40.5%
    }

    .CSPvNext .row-fluid > .bp0-col-12-7 {
        width: 57.5%
    }

    .CSPvNext .row-fluid > .bp0-col-12-9 {
        width: 74.5%
    }

    .CSPvNext .row-fluid > .bp0-col-12-10 {
        width: 83%
    }

    .CSPvNext .row-fluid > .bp0-col-12-11 {
        width: 91.5%
    }
}

@media screen and (min-width:540px) and (max-width:679px) {
    .CSPvNext .row-fluid .span {
        width: 100%
    }

    .CSPvNext .row-fluid .bp1-clear {
        clear: both
    }

    .CSPvNext .row-fluid > .bp1-clear, .CSPvNext .row-fluid > .bp1-col-1-1 {
        margin-left: 0
    }

    .CSPvNext .row-fluid > .bp1-col-1, .CSPvNext .row-fluid > .bp1-col-1-1, .CSPvNext .row-fluid > .bp1-col-2-2, .CSPvNext .row-fluid > .bp1-col-3-3, .CSPvNext .row-fluid > .bp1-col-4-4, .CSPvNext .row-fluid > .bp1-col-5-5, .CSPvNext .row-fluid > .bp1-col-6-6, .CSPvNext .row-fluid > .bp1-col-7-7, .CSPvNext .row-fluid > .bp1-col-8-8, .CSPvNext .row-fluid > .bp1-col-9-9, .CSPvNext .row-fluid > .bp1-col-10-10, .CSPvNext .row-fluid > .bp1-col-11-11, .CSPvNext .row-fluid > .bp1-col-12-12 {
        width: 100%
    }

    .CSPvNext .row-fluid > .bp1-col-2, .CSPvNext .row-fluid > .bp1-col-2-1, .CSPvNext .row-fluid > .bp1-col-4-2, .CSPvNext .row-fluid > .bp1-col-6-3, .CSPvNext .row-fluid > .bp1-col-8-4, .CSPvNext .row-fluid > .bp1-col-10-5, .CSPvNext .row-fluid > .bp1-col-12-6 {
        width: 49%
    }

    .CSPvNext .row-fluid > .bp1-col-3, .CSPvNext .row-fluid > .bp1-col-3-1, .CSPvNext .row-fluid > .bp1-col-6-2, .CSPvNext .row-fluid > .bp1-col-9-3, .CSPvNext .row-fluid > .bp1-col-12-4 {
        width: 32%
    }

    .CSPvNext .row-fluid > .bp1-col-3-2, .CSPvNext .row-fluid > .bp1-col-6-4, .CSPvNext .row-fluid > .bp1-col-9-6, .CSPvNext .row-fluid > .bp1-col-12-8 {
        width: 66%
    }

    .CSPvNext .row-fluid > .bp1-col-4, .CSPvNext .row-fluid > .bp1-col-4-1, .CSPvNext .row-fluid > .bp1-col-8-2, .CSPvNext .row-fluid > .bp1-col-12-3 {
        width: 23.5%
    }

    .CSPvNext .row-fluid > .bp1-col-4-3, .CSPvNext .row-fluid > .bp1-col-8-6 {
        width: 74.5%
    }

    .CSPvNext .row-fluid > .bp1-col-5, .CSPvNext .row-fluid > .bp1-col-5-1, .CSPvNext .row-fluid > .bp1-col-10-2 {
        width: 18.4%
    }

    .CSPvNext .row-fluid > .bp1-col-5-2 {
        width: 38.8%
    }

    .CSPvNext .row-fluid > .bp1-col-5-3 {
        width: 59.2%
    }

    .CSPvNext .row-fluid > .bp1-col-5-4 {
        width: 79.6%
    }

    .CSPvNext .row-fluid > .bp1-col-6, .CSPvNext .row-fluid > .bp1-col-6-1, .CSPvNext .row-fluid > .bp1-col-12-2 {
        width: 15%
    }

    .CSPvNext .row-fluid > .bp1-col-6-5 {
        width: 83%
    }

    .CSPvNext .row-fluid > .bp1-col-7, .CSPvNext .row-fluid > .bp1-col-7-1 {
        width: 12.57143%
    }

    .CSPvNext .row-fluid > .bp1-col-7-2 {
        width: 27.14286%
    }

    .CSPvNext .row-fluid > .bp1-col-7-3 {
        width: 41.71429%
    }

    .CSPvNext .row-fluid > .bp1-col-7-4 {
        width: 56.28571%
    }

    .CSPvNext .row-fluid > .bp1-col-7-5 {
        width: 70.85714%
    }

    .CSPvNext .row-fluid > .bp1-col-7-6 {
        width: 85.42857%
    }

    .CSPvNext .row-fluid > .bp1-col-8, .CSPvNext .row-fluid > .bp1-col-8-1 {
        width: 10.75%
    }

    .CSPvNext .row-fluid > .bp1-col-8-3 {
        width: 36.25%
    }

    .CSPvNext .row-fluid > .bp1-col-8-5 {
        width: 61.75%
    }

    .CSPvNext .row-fluid > .bp1-col-8-7 {
        width: 87.25%
    }

    .CSPvNext .row-fluid > .bp1-col-9, .CSPvNext .row-fluid > .bp1-col-9-1 {
        width: 9.33333%
    }

    .CSPvNext .row-fluid > .bp1-col-9-2 {
        width: 20.66667%
    }

    .CSPvNext .row-fluid > .bp1-col-9-4 {
        width: 43.33333%
    }

    .CSPvNext .row-fluid > .bp1-col-9-5 {
        width: 54.66667%
    }

    .CSPvNext .row-fluid > .bp1-col-9-7 {
        width: 77.33333%
    }

    .CSPvNext .row-fluid > .bp1-col-9-8 {
        width: 88.66667%
    }

    .CSPvNext .row-fluid > .bp1-col-10, .CSPvNext .row-fluid > .bp1-col-10-1 {
        width: 8.2%
    }

    .CSPvNext .row-fluid > .bp1-col-10-3 {
        width: 28.6%
    }

    .CSPvNext .row-fluid > .bp1-col-10-4 {
        width: 38.8%
    }

    .CSPvNext .row-fluid > .bp1-col-10-6 {
        width: 59.2%
    }

    .CSPvNext .row-fluid > .bp1-col-10-7 {
        width: 69.4%
    }

    .CSPvNext .row-fluid > .bp1-col-10-8 {
        width: 79.6%
    }

    .CSPvNext .row-fluid > .bp1-col-10-9 {
        width: 89.8%
    }

    .CSPvNext .row-fluid > .bp1-col-11, .CSPvNext .row-fluid > .bp1-col-11-1 {
        width: 7.27273%
    }

    .CSPvNext .row-fluid > .bp1-col-11-2 {
        width: 16.54545%
    }

    .CSPvNext .row-fluid > .bp1-col-11-3 {
        width: 25.81818%
    }

    .CSPvNext .row-fluid > .bp1-col-11-4 {
        width: 35.09091%
    }

    .CSPvNext .row-fluid > .bp1-col-11-5 {
        width: 44.36364%
    }

    .CSPvNext .row-fluid > .bp1-col-11-6 {
        width: 53.63636%
    }

    .CSPvNext .row-fluid > .bp1-col-11-7 {
        width: 62.90909%
    }

    .CSPvNext .row-fluid > .bp1-col-11-8 {
        width: 72.18182%
    }

    .CSPvNext .row-fluid > .bp1-col-11-9 {
        width: 81.45455%
    }

    .CSPvNext .row-fluid > .bp1-col-11-10 {
        width: 90.72727%
    }

    .CSPvNext .row-fluid > .bp1-col-12, .CSPvNext .row-fluid > .bp1-col-12-1 {
        width: 6.5%
    }

    .CSPvNext .row-fluid > .bp1-col-12-5 {
        width: 40.5%
    }

    .CSPvNext .row-fluid > .bp1-col-12-7 {
        width: 57.5%
    }

    .CSPvNext .row-fluid > .bp1-col-12-9 {
        width: 74.5%
    }

    .CSPvNext .row-fluid > .bp1-col-12-10 {
        width: 83%
    }

    .CSPvNext .row-fluid > .bp1-col-12-11 {
        width: 91.5%
    }
}

@media screen and (min-width:680px) and (max-width:899px) {
    .CSPvNext .row-fluid .span {
        width: 100%
    }

    .CSPvNext .row-fluid > .span {
        width: 100%
    }

    .CSPvNext .row-fluid .bp2-clear {
        clear: both
    }

    .CSPvNext .row-fluid > .bp2-clear, .CSPvNext .row-fluid > .bp2-col-1-1 {
        margin-left: 0
    }

    .CSPvNext .row-fluid > .bp2-col-1, .CSPvNext .row-fluid > .bp2-col-1-1, .CSPvNext .row-fluid > .bp2-col-2-2, .CSPvNext .row-fluid > .bp2-col-3-3, .CSPvNext .row-fluid > .bp2-col-4-4, .CSPvNext .row-fluid > .bp2-col-5-5, .CSPvNext .row-fluid > .bp2-col-6-6, .CSPvNext .row-fluid > .bp2-col-7-7, .CSPvNext .row-fluid > .bp2-col-8-8, .CSPvNext .row-fluid > .bp2-col-9-9, .CSPvNext .row-fluid > .bp2-col-10-10, .CSPvNext .row-fluid > .bp2-col-11-11, .CSPvNext .row-fluid > .bp2-col-12-12 {
        width: 100%
    }

    .CSPvNext .row-fluid > .bp2-col-2, .CSPvNext .row-fluid > .bp2-col-2-1, .CSPvNext .row-fluid > .bp2-col-4-2, .CSPvNext .row-fluid > .bp2-col-6-3, .CSPvNext .row-fluid > .bp2-col-8-4, .CSPvNext .row-fluid > .bp2-col-10-5, .CSPvNext .row-fluid > .bp2-col-12-6 {
        width: 49%
    }

    .CSPvNext .row-fluid > .bp2-col-3, .CSPvNext .row-fluid > .bp2-col-3-1, .CSPvNext .row-fluid > .bp2-col-6-2, .CSPvNext .row-fluid > .bp2-col-9-3, .CSPvNext .row-fluid > .bp2-col-12-4 {
        width: 32%
    }

    .CSPvNext .row-fluid > .bp2-col-3-2, .CSPvNext .row-fluid > .bp2-col-6-4, .CSPvNext .row-fluid > .bp2-col-9-6, .CSPvNext .row-fluid > .bp2-col-12-8 {
        width: 66%
    }

    .CSPvNext .row-fluid > .bp2-col-4, .CSPvNext .row-fluid > .bp2-col-4-1, .CSPvNext .row-fluid > .bp2-col-8-2, .CSPvNext .row-fluid > .bp2-col-12-3 {
        width: 23.5%
    }

    .CSPvNext .row-fluid > .bp2-col-4-3, .CSPvNext .row-fluid > .bp2-col-8-6 {
        width: 74.5%
    }

    .CSPvNext .row-fluid > .bp2-col-5, .CSPvNext .row-fluid > .bp2-col-5-1, .CSPvNext .row-fluid > .bp2-col-10-2 {
        width: 18.4%
    }

    .CSPvNext .row-fluid > .bp2-col-5-2 {
        width: 38.8%
    }

    .CSPvNext .row-fluid > .bp2-col-5-3 {
        width: 59.2%
    }

    .CSPvNext .row-fluid > .bp2-col-5-4 {
        width: 79.6%
    }

    .CSPvNext .row-fluid > .bp2-col-6, .CSPvNext .row-fluid > .bp2-col-6-1, .CSPvNext .row-fluid > .bp2-col-12-2 {
        width: 15%
    }

    .CSPvNext .row-fluid > .bp2-col-6-5 {
        width: 83%
    }

    .CSPvNext .row-fluid > .bp2-col-7, .CSPvNext .row-fluid > .bp2-col-7-1 {
        width: 12.57143%
    }

    .CSPvNext .row-fluid > .bp2-col-7-2 {
        width: 27.14286%
    }

    .CSPvNext .row-fluid > .bp2-col-7-3 {
        width: 41.71429%
    }

    .CSPvNext .row-fluid > .bp2-col-7-4 {
        width: 56.28571%
    }

    .CSPvNext .row-fluid > .bp2-col-7-5 {
        width: 70.85714%
    }

    .CSPvNext .row-fluid > .bp2-col-7-6 {
        width: 85.42857%
    }

    .CSPvNext .row-fluid > .bp2-col-8, .CSPvNext .row-fluid > .bp2-col-8-1 {
        width: 10.75%
    }

    .CSPvNext .row-fluid > .bp2-col-8-3 {
        width: 36.25%
    }

    .CSPvNext .row-fluid > .bp2-col-8-5 {
        width: 61.75%
    }

    .CSPvNext .row-fluid > .bp2-col-8-7 {
        width: 87.25%
    }

    .CSPvNext .row-fluid > .bp2-col-9, .CSPvNext .row-fluid > .bp2-col-9-1 {
        width: 9.33333%
    }

    .CSPvNext .row-fluid > .bp2-col-9-2 {
        width: 20.66667%
    }

    .CSPvNext .row-fluid > .bp2-col-9-4 {
        width: 43.33333%
    }

    .CSPvNext .row-fluid > .bp2-col-9-5 {
        width: 54.66667%
    }

    .CSPvNext .row-fluid > .bp2-col-9-7 {
        width: 77.33333%
    }

    .CSPvNext .row-fluid > .bp2-col-9-8 {
        width: 88.66667%
    }

    .CSPvNext .row-fluid > .bp2-col-10, .CSPvNext .row-fluid > .bp2-col-10-1 {
        width: 8.2%
    }

    .CSPvNext .row-fluid > .bp2-col-10-3 {
        width: 28.6%
    }

    .CSPvNext .row-fluid > .bp2-col-10-4 {
        width: 38.8%
    }

    .CSPvNext .row-fluid > .bp2-col-10-6 {
        width: 59.2%
    }

    .CSPvNext .row-fluid > .bp2-col-10-7 {
        width: 69.4%
    }

    .CSPvNext .row-fluid > .bp2-col-10-8 {
        width: 79.6%
    }

    .CSPvNext .row-fluid > .bp2-col-10-9 {
        width: 89.8%
    }

    .CSPvNext .row-fluid > .bp2-col-11, .CSPvNext .row-fluid > .bp2-col-11-1 {
        width: 7.27273%
    }

    .CSPvNext .row-fluid > .bp2-col-11-2 {
        width: 16.54545%
    }

    .CSPvNext .row-fluid > .bp2-col-11-3 {
        width: 25.81818%
    }

    .CSPvNext .row-fluid > .bp2-col-11-4 {
        width: 35.09091%
    }

    .CSPvNext .row-fluid > .bp2-col-11-5 {
        width: 44.36364%
    }

    .CSPvNext .row-fluid > .bp2-col-11-6 {
        width: 53.63636%
    }

    .CSPvNext .row-fluid > .bp2-col-11-7 {
        width: 62.90909%
    }

    .CSPvNext .row-fluid > .bp2-col-11-8 {
        width: 72.18182%
    }

    .CSPvNext .row-fluid > .bp2-col-11-9 {
        width: 81.45455%
    }

    .CSPvNext .row-fluid > .bp2-col-11-10 {
        width: 90.72727%
    }

    .CSPvNext .row-fluid > .bp2-col-12, .CSPvNext .row-fluid > .bp2-col-12-1 {
        width: 6.5%
    }

    .CSPvNext .row-fluid > .bp2-col-12-5 {
        width: 40.5%
    }

    .CSPvNext .row-fluid > .bp2-col-12-7 {
        width: 57.5%
    }

    .CSPvNext .row-fluid > .bp2-col-12-9 {
        width: 74.5%
    }

    .CSPvNext .row-fluid > .bp2-col-12-10 {
        width: 83%
    }

    .CSPvNext .row-fluid > .bp2-col-12-11 {
        width: 91.5%
    }
}

html {
    direction: ltr
}

body {
    font-family: wf_segoe-ui_normal,'Segoe UI',Segoe,'Segoe WP',Tahoma,Verdana,Arial,sans-serif;
    width: 100%;
    margin: 0;
    padding: 0
}

strong {
    font-weight: bold
}

.row-padded {
    padding-top: 1.5em;
    padding-bottom: 1.5em
}

.row-padded-top {
    padding-top: 1.5em
}

.row-padded-bottom {
    padding-bottom: 1.5em
}

@media screen and (min-width:540px) {
    .row-padded {
        padding-top: 2.5%;
        padding-bottom: 2.5%
    }

    .row-padded-top {
        padding-top: 2.5%
    }

    .row-padded-bottom {
        padding-bottom: 2.5%
    }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q, blockquote {
    quotes: none
}

    q:before, q:after, blockquote:before, blockquote:after {
        content: "";
        content: none
    }

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}

html {
    overflow-y: auto
}

img, video {
    max-width: 100%;
    height: auto
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes IE11FixfadeIn {
    0% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes slideIn {
    0% {
        left: 3%;
        opacity: 0
    }

    100% {
        left: 0;
        opacity: 1
    }
}

@-moz-keyframes slideIn {
    0% {
        left: 3%;
        opacity: 0
    }

    100% {
        left: 0;
        opacity: 1
    }
}

@-o-keyframes slideIn {
    0% {
        left: 3%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideIn {
    0% {
        left: 3%;
        opacity: 0
    }

    100% {
        left: 0;
        opacity: 1
    }
}

@-webkit-keyframes slideIn {
    0% {
        left: 3%;
        opacity: 0
    }

    100% {
        left: 0;
        opacity: 1
    }
}

.CSPvNext .row-fluid .span .col-flow-opposite {
    float: right
}

    .CSPvNext .row-fluid .span .col-flow-opposite + .span {
        margin-left: 0
    }

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: wf_segoe-ui_normal,'Segoe UI',Segoe,'Segoe WP',Tahoma,Verdana,Arial,sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

p {
    margin: 0 0 1.5em
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="submit"], textarea {
    font-family: wf_segoe-ui_normal,'Segoe UI',Segoe,'Segoe WP',Tahoma,Verdana,Arial,sans-serif
}

h1, h2, h3, h4 {
    font-family: wf_segoe-ui_light,'Segoe UI Light','Segoe WP Light',wf_segoe-ui_normal,'Segoe UI',Segoe,'Segoe WP',Tahoma,Verdana,Arial,sans-serif;
    font-weight: 300;
    color: #1a1a1a;
    line-height: 1.25;
    margin: .25em 0 .75em;
    font-size: 1.825em
}

h5 {
    line-height: 1.25;
    margin: 0 0 .65em
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0
}

h1 + h1, h2 + h2, h3 + h3 {
    margin-top: 1.3em
}

@media screen and (min-width:540px) {
    h1 {
        margin-bottom: .35em
    }

    h2 {
        font-size: 1.625em;
        margin-bottom: .55em
    }

    h4 {
        font-size: 1.625em
    }

    h4 {
        font-size: 1.625em
    }

    h5 {
        font-size: 1em
    }

    h6 {
        font-size: 1em
    }
}

@media screen and (min-width:680px) {
    h1 {
        font-size: 2em
    }
}

@media screen and (min-width:900px) {
    h1 {
        font-size: 2.375em
    }
}

a {
    color: #1570a6;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear
}

    a:focus, a:hover {
        color: #083047;
        text-decoration: underline
    }

.button {
    background-color: #1570a6;
    color: #fff;
    padding: .5em 1em;
    display: inline-block;
    -webkit-transition: background-color .3s ease-in,color .3s ease-in;
    -moz-transition: background-color .3s ease-in,color .3s ease-in;
    -o-transition: background-color .3s ease-in,color .3s ease-in;
    transition: background-color .3s ease-in,color .3s ease-in
}

    .button:hover, .button:focus {
        background-color: #083047;
        color: #fff;
        text-decoration: none;
        -webkit-transition: all .08s ease-in;
        -moz-transition: all .08s ease-in;
        -o-transition: all .08s ease-in;
        transition: all .08s ease-in
    }

blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic
}

dfn {
    font-style: italic;
    font-weight: bold;
    background: #ffc
}

sup, sub {
    line-height: 0
}

abbr, acronym {
    border-bottom: 1px dotted #666
}

address {
    margin: 0 0 1.5em;
    font-style: italic
}

del {
    color: #666
}

pre, code {
    margin: 1.5em 0;
    white-space: pre
}

tt {
    display: block;
    margin: 1.5em 0;
    line-height: 1.5
}

pre, code, tt {
    font: 1em 'andale mono','lucida console',monospace;
    line-height: 1.5
}

button {
    background: rgba(0,0,0,.5);
    border: 0;
    color: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

    button:hover {
        cursor: pointer
    }

.modal {
    margin-top: 10em;
}
